.homeImg{
    z-index: -1;
    position: fixed;
    filter: brightness(0.8) blur(2px);

}
.container {
    width: 100%;
    margin-top: 80px;
    height: calc(100vh - 450px); /* Ajuste la hauteur du container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  h1 {
    font-size: 120px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    margin-top:-3rem ;
    color: #1a8502;
    outline: none;
    text-align: center;
  }
  
  h1:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  
  p {
    font-size: 1.2em;
    line-height: 150%;
    text-align: center;
    color: MintCream;
    letter-spacing: .5px;
  }
  
  
  .centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  .wordCarousel {
    font-size: 50px;
    font-weight: 300;
    color: #f6efdd;
  }
  
  .wordCarousel div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 65px;
    margin-top: 10px;
  }
  
  .wordCarousel div li {
    font-family: Serif;
    color: #f6efdd;
    font-weight: 700;
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
    
    display: block;
  }
  
  .flip2 {
    animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  }
  
  .flip3 {
    animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  }
  
  .flip4 {
    animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  }
  
  .flip5 {
    animation: flip5 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  }
  
  @keyframes flip2 {
    0% {
      margin-top: -180px;
    }
    5% {
      margin-top: -90px;
    }
    50% {
      margin-top: -90px;
    }
    55% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -180px;
    }
  }
  
  @keyframes flip3 {
    0% {
      margin-top: -270px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  
  @keyframes flip4 {
    0% {
      margin-top: -360px;
    }
    5% {
      margin-top: -270px;
    }
    25% {
      margin-top: -270px;
    }
    30% {
      margin-top: -180px;
    }
    50% {
      margin-top: -180px;
    }
    55% {
      margin-top: -90px;
    }
    75% {
      margin-top: -90px;
    }
    80% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -360px;
    }
  }
  
  @keyframes flip5 {
    0% {
      margin-top: -450px;
    }
    5% {
      margin-top: -360px;
    }
    20% {
      margin-top: -360px;
    }
    25% {
      margin-top: -270px;
    }
    40% {
      margin-top: -270px;
    }
    45% {
      margin-top: -180px;
    }
    60% {
      margin-top: -180px;
    }
    65% {
      margin-top: -90px;
    }
    80% {
      margin-top: -90px;
    }
    85% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -450px;
    }
  }
  

  